/*GENERAL STYLES*/

h1, p {
    font-family:'Red Hat Display', sans-serif;
}

h2 {
    font-family:'Red Hat Display', sans-serif;
    font-size:16px;
}

body {
    background-image:url("./images/pattern-background-mobile.svg");
}

main {
    background-color: white;
    width:375px;
    margin:auto;
    border-radius:5%;
}

figure {
    margin:0;
}

img {
    width:100%;
    border-top-left-radius: 5%;
    border-top-right-radius:5%;
}

.order-text {
    padding:20px;
}

#music-icon {
    width:15%;
    padding:10px;
}

.plan-component {
    display:flex;
    background-color:#f5f7ff;
    align-items:center;
    justify-content: space-around;
    width:315px;
    margin:0 auto;
    border-radius:5%;
}

.plan-text {
    padding:10px;
}

.change {
    padding:10px;
    font-family:'Red Hat Display', sans-serif;
}

.payment-button {
    margin:20px;
    background-color: #3829e0;
    color:white;
    width:300px;
    text-align:center;
    padding:10px;
    font-family:'Red Hat Display', sans-serif;
    font-weight:700;
    font-size: 16px;
    border:none;
    border-radius:10%;
}

#cancel {
    margin:20px;
    font-family:'Red Hat Display', sans-serif;
    padding:20px;
    text-align:center;
}