/*GENERAL STYLES*/

h1, p {
    font-family:'Red Hat Display', sans-serif;
}

h2 {
    font-family:'Red Hat Display', sans-serif;
    font-size:16px;
}

body {
    background-image:url("./images/pattern-background-mobile.svg");
}

main {
    background-color: white;
    width:375px;
    margin:auto;
}

figure {
    margin:0;
}

img {
    width:100%;
}

.order-text {
    padding:20px;
}

#music-icon {
    width:15%;
    padding:10px;
}

.plan-component {
    display:flex;
    background-color:#f5f7ff;
    align-items:center;
    justify-content: space-between;
}

.plan-text {
    padding:10px;
}

.change {
    padding:10px;
}